* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

/* Header Content */

#header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*position: relative;
  top: 0;
  left: 0;*/
  background-color: white;
  background-image: url("Images/Header-Bg.png");
  background-repeat: repeat;
}

#mainlogo {
  height: auto;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999;
  margin: 20px;
}

/* Navigation Bar Content */

#nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: sticky;
  /*position: -webkit-sticky;*/
  top: 0;
  background-color: #F9F9F9;
  -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999;
}

#nav > a {
  display: block;
  padding: 15px 20px;
  margin: 10px;
  color: #333333;
  text-decoration: none;
  border-radius: 5px;
}

#nav > a:hover {
  background-color: #666666;
  color: #F9F9F9;
}

#nav > a.active {
  background-color: #D3D3D3;
  color: #333333;
}

/* Body Content */

body {
  margin: 0;
  background-image: url("Images/LN-Body-Background-Image.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }

#main {
  margin: 40px;
  padding: 15px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999;
  background-color: white;
}

h1, h2, p {
  text-align: center;
  color: #333333;
}

