* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

h1 {
    color: brown;
}

img:hover {
    opacity: 95%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainlogo {
    height: auto;
    min-width: 20%;
    max-width: 50%;
    
}

