@media screen and (max-width: 400px) {
  #mainLogo {
    width: 80% !important;
    height: auto !important;
  }
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
    text-align: center;
    color: #333333;
}

#header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
}

#nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: sticky;
    /*position: -webkit-sticky;*/
    top: 0;
    background-color: #333333;

}

#nav > a {
  display: block;
  padding: 15px 20px;
  margin: 10px;
  color: #F9F9F9;
  text-decoration: none;
  border-radius: 5px;
}

#nav > a:hover {
  background-color: #F9F9F9;
  color: #333333;
}

#nav > a.active {
  background-color: #666666;
  color: #F9F9F9;
}

#mainlogo {
    height: auto;
    min-width: 10%;
    max-width: 40%;
}

#main {
  background: "LN-Body-Background-Image.png";
  margin: 20px;
  padding: 15px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999;
  background-image: "LN-Body-Background-Image.PNG";
}


